<div class="card bg-light">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <div>
          <label for="email">email</label><br>
          <input type="text" name="email" id="" class="from-control">

        </div>
        <div>
          <label for="password">password</label><br>
          <input type="password" name="password" id="" class="from-control">
        </div>
        <div class="container buttons-container">
          <input type="submit" value="Register" class="btn btn-primary">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
