<div class="card bg-light">
  <div class="card-header">Login</div>
  <div class="card-body">

      <!-- login form -->
      <form *ngIf="isLogin" class="form-group" (ngSubmit)="onLogin()" [formGroup]="login">
        <div class="input-box">
          <label for="email">email</label>
          <input type="email" name="email" id="email" class="from-control" formControlName="email">
          <span class="form-validation-message" *ngIf="!login.get('email')!.valid && login.get('email')!.touched">devi inserire un'email valida</span>
        </div>
        <div class="input-box">
          <label for="password">password</label>
          <input type="password" name="password" id="password" formControlName="password" class="from-control">
        </div>
        <div class="container buttons-container">
          <button type="submit" class="btn btn-primary" [disabled]="formLogEmpty">Login</button>
          <span class="form-tooltip">if you don't have an account you should <a href="#" (click)="toggleLogin">register</a></span>
        </div>
      </form>

      <!-- registration form -->
      <form *ngIf="!isLogin" class="form-group" (ngSubmit)="onRegistration()" [formGroup]="registration">
        <div class="input-box">
          <label for="nickname">nickname</label>
          <input type="formNickname" name="formNickname" id="formNickname" class="from-control" formControlName="nickname">
          <span class="form-validation-message" *ngIf="!registration!.get('nickname')!.valid && registration!.get('nickname')!.touched">{{nameInvalidMessage}}</span>
        </div>
        <div class="input-box">
          <label for="email">email</label>
          <input type="email" name="email" id="email" class="from-control" formControlName="email">
          <span class="form-validation-message" *ngIf="!registration!.get('email')!.valid && registration.get('email')!.touched">{{emailInvalidMessage}}</span>
        </div>
        <div class="input-box">
          <label for="password">password</label>
          <input type="password" formControlName="password" name="password" id="password" class="from-control" >
        </div>
        <div class="input-box">
          <label for="passwordConf">confirm password</label>
          <input type="password" name="passwordConf" formControlName="passwordConfirmation" id="passwordConf" class="from-control">
          <span class="form-validation-message" *ngIf="!registration!.get('passwordConfirmation')!.valid && registration.get('passwordConfirmation')!.touched">
            {{passwordConfInvalidMessage}}
          </span>
        </div>
        <div class="container buttons-container">
          <button type="submit" class="btn btn-primary" [disabled]="formRegEmpty">Register</button>
          <span class="form-tooltip">if you already have an account you should  <a href="#" (click)="toggleLogin">log-in</a></span>
        </div>
      </form>
  </div>
</div>
