.sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding-top: 2rem;    
    min-width: 100%;
    
}

.sidebar__button{
    position: relative;
    background-color: lightblue;
    margin: 0;
    padding: 0.5rem;
    color: black;
    border: none;
    max-width: 30%;
    text-align: end;
    border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar__button:hover{
    transition: 0.7s;
    cursor: pointer;
    background-color: aqua;
}