.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding-top: 4rem;    
}

.btn{
    position: relative;
    margin: 0;
    min-width: 100%;
    text-align: end;
    border-radius: 0 0.5rem 0.5rem 0;
}