.sidebar{
    display: flex;
    direction: column;
    gap: 2rem;
    margin: 0;
    border-right: 2px solid black;
}

.sidebar__button{
    background-color: lightblue;
    margin: 0;
    padding: 0.5rem;
    color: black;
    border: none;
    min-width: 30%;
    text-align: end;
    border-radius: 0 0.5rem 0.5rem 0;
}

.sidebar__button:hover{
    transition: 0.7s;
    cursor: pointer;
    background-color: aqua;
}