.card{
    min-width: 100%;
}

.card-text{
    grid-row: 2;
    min-height: 6rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.postHeader{
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    padding: 0;
    grid-row: 1;
    gap: 1rem;
    border-bottom: 1px solid black;
}

.postHeader__user{
    display: flex;
    flex-direction: column;
}

.postHeader__user__name{
    margin: 0;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

.postHeader__user__image{
    border-radius: 50rem;
    max-height: 3rem;
}



